
.container{
    display:flex;
    /* flex-direction: row-reverse; */
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 10px; 

}
.item{
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;

}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-start;
    
}