.container{
    display: grid;
    
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header""main main . sidebar" "footer footer footer";
    justify-items: center;
    align-items: center;
    place-items: center;

}
.item{
height: 100px;
    width: 200px;
    background-color:red;
    border: 1px solid black;
     color: white;
    text-align: center;
    align-content: center;
    padding: 20px;
    font-size: 30px;


}
.item1{
    grid-area: header;

}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}

